    <div class="form-container">
     <form>
     <h2>Please select following options to do privacy:</h2>

      <div class="row">
       <div class="col-15" style="margin-top: 18px">
        <input name="email" type="checkbox" [(ngModel)]='auth.user.privacy.show_email'>
       </div>
       <div class="col-85">
        <label>Show my email</label>
       </div>
      </div>
      <div class="row">
       <div class="col-15" style="margin-top: 18px">
        <input name="about" type="checkbox" [(ngModel)]='auth.user.privacy.show_about'>
       </div>
       <div class="col-85">
        <label>Show my about</label>
       </div>
      </div>      
      <div class="row">
       <div class="col-15" style="margin-top: 18px">
        <input name="phone" type="checkbox" [(ngModel)]='auth.user.privacy.show_phone'>
       </div>
       <div class="col-85">
        <label>Show my phone no.</label>
       </div>
      </div>
      <div class="row">
       <div class="col-15" style="margin-top: 18px">
        <input name="image" type="checkbox" [(ngModel)]='auth.user.privacy.show_image'>
       </div>
       <div class="col-85">
        <label>Show my image</label>
       </div>
      </div>
      <div class="row">
       <div class="col-15" style="margin-top: 18px">
        <input name="bgImage" type="checkbox" [(ngModel)]='auth.user.privacy.show_bgImage'>
       </div>
       <div class="col-85">
        <label>Show my background image</label>
       </div>
      </div>
        
      <div class="row" *ngIf="!saving">
       <input type="submit" value="Save" (click)="save()">
      </div>
       <div class="row">
        <label id="msg">{{msg}}</label>
      </div>
     </form>
    </div>
    <!-- This is just an illustration to retrieve an array of values
    	<p> Selected: <strong>{{ myGroup.get('myCategory').value }}</strong></p>
    -->


