
<div class="card" [id]="getID(post.id)">

  <div class="head">
   <img class="head-image" [src]="user?.image?user.image:'assets/images/no-user.png'">
   <!--span class="head-type">{{post.type.id}}</span-->
    <p><b><a style="padding: 1px 5px;" routerLink='/info/users/{{post.userID}}'>{{post.userName}}</a></b></p>
    <p>{{post.date.toDate() | date:'medium'}}</p>
  </div>

  <div class="container">
    <img class="post-image" [src]="post.image" *ngIf="post.image!=''">
    <h3 >{{post.title}}</h3> 
    <div style="white-space: pre-wrap;">{{post.detail}}</div>
  </div>
  <hr>
  <div class="container">
   <span class="details">Likes:{{liked?1:0}}</span>
   <span class="details">Comments:{{comments?.length}}</span>
  </div>  
  
  <div class="container" *ngIf="ps.isUserSignedIn" (click)="$event.stopPropagation()" >

    <div class="main-options clearfix" >
		    <a href="" (click)="like()"  >like</a>
        <a href="" (click)="commentsClicked=!commentsClicked; false;">comments</a>
        <div class="tooltip" style="width: 33.33%">
          <a href="" style="width: 100%" (click)="copyToClipboard()" (mouseout)='tooltipText="Copy to clipboard"'>share</a>
          <span class="tooltiptext" #myTooltip [innerHtml]='tooltipText'>Copy to clipboard</span>
        </div>
    </div>

    <div class="container" style="background:#ccc;" *ngIf="ps.isUserSignedIn && commentsClicked">
     <div style="margin: 10px auto">
        {{auth.user.name}}
        <input style="float: none; margin:0"  type="submit" value="Comment" (click)="comment()">
     </div>
     <div >
         <textarea id="comment" [formControl]="detail" name="comment" placeholder="Your comment" style="height:50px"></textarea>
     </div>
     <div *ngFor="let comment of comments; trackBy: trackById">
      <p style="margin: 10px auto;"><a style="padding: 1px 5px;"  routerLink="/info/users/{{comment.userID}}">{{comment.userName}}</a> {{comment.date.toDate() | date:'medium'}}</p>
      <div style="background:white;margin:5px auto;padding:5px;">
        {{comment.detail}}
      </div>

     </div>
    </div>
  </div>
</div>
<!--[style.background-color]="liked ? 'green': 'white'" [style.color]="liked ? 'white': 'black'"-->
