.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
.notif-container {
 margin: 5px;
 border: 1px solid #ccc;
 position:relative;
}