  <div class="main-options clearfix" [style.display]="(display!='main'&&groupChat!='second')?'block':'none'">
        <div (click)="display='chats'" [style.border-bottom]="display=='chats'? '3px solid indianred' : '3px solid white'">chats</div>
        <div (click)="display='create'" [style.border-bottom]="display=='create'? '3px solid indianred' : '3px solid white'">create</div>
        <div (click)="display='discussions'" [style.border-bottom]="display=='discussions'? '3px solid indianred' : '3px solid white'">discussions</div>       
        <i class="fa fa-times-circle close-chat-box" (click)="closeChatBox()"></i>
  </div>
  <div class="container clearfix" id="create" [style.display]="display=='create'?'block':'none'">
   <div class="people-list" style="overflow: auto;" id="people-list" [ngStyle]="styleObject()">
    <div *ngIf="groupChat=='second'" style="padding-top: 50px;">
      <i class="fa fa-times-circle  close-chat-box" (click)="closeChatBox()"></i>
      <i *ngIf="!sending" class="fa fa-arrow-left shadow" style="font-size: 40px; color: #f1f1f1;padding:5px;" (click)="groupInfo?aboutChat('close'):gotoFirst()"></i>
      <input autocomplete="off" style="width: 60%;margin: 10px;" #searchBox name='userSearch' placeholder="chat title" [(ngModel)]='chatTitle' >
        <label style="margin: 0" *ngIf="!sending" class="custom-file-upload" (click)="createChat()" >
          {{groupInfo?'Save':'Create'}}
        </label>
      <div *ngIf="sending" style="display: block;padding: 10px;">Wait...</div>  
      <div style="background-size: cover; height:300px;border:1px solid #ccc;position: relative; margin:10px" [style.background]="bgImage"  [style.backgroundSize]="bgSize" [style.background-position-y]="bgY">
         <div class="clearfix" style="position: absolute;top:5px;right: 5px;">
          <label for="background-upload" class="custom-file-upload" style="float: right;">
            Upload
          </label>
          <label *ngIf="auth.user.bgImage!=''" class="custom-file-upload" style="float: right;" (click)="editBG()">
             {{edit?'save':'edit'}}
          </label>
         </div>        
         <div class="clearfix" *ngIf="edit" style="position: absolute;top:40px;right: 5px;">               
           <label class="custom-file-upload" style="float: right;" (click)="moveBG('d')">
             &darr;
           </label>
           <label class="custom-file-upload" style="float: right;" (click)="moveBG('u')">
             &uarr;
           </label> 
        </div>      
        <input id="background-upload"  accept=".jpeg, .gif, .png, .svg, .ico, .bmp" type="file" (change)="encodeImageFileAsURL($event,'bg')"/>
      </div>
      <div *ngIf="groupInfo">    
        <ng-container *ngFor="let chatUser of currChat.users;"> 
           <a *ngIf="chatUser.status=='connected'" routerLink="/info/users/{{chatUser.uid}}" (click)="closeChatBox()" class="shadow user-drawer-item" >                    
            <ng-container *ngIf="ps.getUser(chatUser.uid) as user" >
                <span class="user-status-badge" [style.background]="user.status=='online'?'green':'grey'">`</span>
                <img class="user-drawer-img" [src]="user.image?user.image:'assets/images/no-user.png'"/>
                <div>{{user.name}}</div>
            </ng-container>
          </a>
        </ng-container>
      </div> 
      <div *ngIf="groupInfo">
        <h1>Discussions</h1>
        <h3 style="margin: 20px;">Create new discussion</h3>
        <input autocomplete="off" style="width: 60%;margin: 20px;" placeholder="title" [(ngModel)]='discTitle'>
        <label *ngIf="!sending" class="custom-file-upload" (click)="createDisc()">
             Create
        </label>
        <h3 style="margin: 20px;">Created discussions</h3>

      <ul class="list">
        <li class="clearfix shadow-scale" *ngFor="let discussion of discussions?.filter(userDiscFilter)" >
         <ng-container *ngIf="ps.getChat(discussion.chat_id) as chatg" >
          <div class="clearfix" (click)="aboutChat('close');back();chatWith(discussion,'discussions');">
          <img style="border-radius: 100%;width: 70px;height: 70px;object-fit: cover;" [src]="chatg.image?chatg.image:'assets/images/no-group.jpg'"/>
          <div class="about">
            <div class="name" style="font-size: 20px">{{discussion.name}}</div>
            <div class="name" style="color: grey">#{{chatg.name}} ({{discussion.users.length}} users)</div>    
          </div> 
          </div> 
         </ng-container> 
        </li>
      </ul>

      </div>
    </div>    

     <div *ngIf="groupChat=='first'">
      <span style="margin: 20px;display: inline-block;">{{selectedUsers.length}} friends for group chat</span> 
      <span style="display: inline-block;transform: translate(0,25%);" *ngIf="selectedUsers.length>0">
        <i class="fa fa-check-square" style="font-size:48px;color:#4CAF50;margin-right: 20px;" (click)="groupChat='second'"></i>
        <i class="fa fa-times-rectangle" (click)="selectedUsers=[]" style="font-size:48px;color:#4CAF50"></i>          
      </span>   
      <div class="clearfix user-drawer">    
        <div class="user-drawer-item" *ngFor="let user of selectedUsers; index as i;">
          <span class="badge shadow" (click)="remove(i)">X</span>
          <img class="user-drawer-img" [src]="user.image?user.image:'assets/images/no-user.png'"/>
          <div >
            {{user.name}}
          </div> 
        </div> 
      </div> 
      <div class="search">
        <input autocomplete="off" #searchBox name='userSearch' placeholder="search friend" (input)="search(searchBox.value)" />
        <i class="fa fa-search"></i>
      </div>
      <ul class="list">
        <li class="clearfix shadow-scale" *ngFor="let user of (users$ | async)" >
         
          <div class="clearfix" (click)="push(user)">
          <img style="width: 50px;" [src]="user.image?user.image:'assets/images/no-user.png'"/>
          <div class="about">
            <div class="name">{{user.name}}</div>
          </div> 
          </div> 
         
        </li>
      </ul>
     </div>   

   </div>
  </div>

  <div class="container clearfix" id="chats" [style.display]="display=='chats'?'block':'none'">
    <div class="people-list" id="people-list">
      <ul class="list">
        <li class="clearfix shadow-scale" *ngFor="let chat of (chats$ | async)?.datas" >
         <ng-container *ngIf="ps.getChat(chat) as chatg" >
          <div class="clearfix" (click)="chatWith(chatg)">
          <img style="border-radius: 100%;width: 70px;height: 70px;object-fit: cover;" [src]="chatg.image?chatg.image:'assets/images/no-group.jpg'"/>
          <div class="about">
            <div class="name" style="font-size: 20px">{{chatg.name}}</div>
            <div class="name" style="color: grey">{{chatg.users.length}} users</div>    
          </div> 
          </div> 
         </ng-container>
        </li>
      </ul>
    </div>
  </div>

  <div class="container clearfix" id="discussions" [style.display]="display=='discussions'?'block':'none'">
    <div class="people-list" id="people-list">
      <ul class="list">
        <li class="clearfix shadow-scale" *ngFor="let discussion of discussions" >
         <ng-container *ngIf="ps.getChat(discussion.chat_id) as chatg" >
          <div class="clearfix" (click)="chatWith(discussion,'discussions')">
          <img style="border-radius: 100%;width: 70px;height: 70px;object-fit: cover;" [src]="chatg.image?chatg.image:'assets/images/no-group.jpg'"/>
          <div class="about">
            <div class="name" style="font-size: 20px">{{discussion.name}}</div>
            <div class="name" style="color: grey">#{{chatg.name}} ({{discussion.users.length}} users)</div>    
          </div> 
          </div> 
         </ng-container> 
        </li>
      </ul>
    </div>
  </div>

  <div  class="container clearfix" id="chat" [style.display]="display=='main'?'block':'none'" (click)="mainClk($event)">
    <div class="chat">
      <div class="chat-header clearfix header" *ngIf="currChat">
        <i class="fa fa-times-circle  close-chat-box" style="left: 60%" (click)="closeChatBox()"></i>
        <div  class="dropdown"  style="float:right;">
         <button class="dropbtn three-dot" id='chatOptionsBtn'></button>
         <div #chatOptions  class="dropdown-content">
          <ng-container *ngIf="chatType=='chats'">
           <a (click)="aboutChat()">About chat</a>
           <div class="tooltip" style="width: 100%">
            <a (click)="copyToClipboard()" (mouseout)='tooltipText="Copy to clipboard"'>Invite more</a>
            <span class="tooltiptext" style="bottom: 90%" #myTooltip [innerHtml]='tooltipText'></span>
           </div>
          </ng-container>
         </div>
        </div>
        <div *ngIf="chatType=='chats'" class="dropdown"  style="float:right;">
         <button class="dropbtn" id='chatFilter' style="padding: 12px;font-size: 16px;" [style.background]="showChatsFrom!='All'?'red':''">Filter</button>
         <div #chatFilter class="dropdown-content">
           <a (click)="showChatsFrom='All';restateNewMsg(true)">ALL</a>
           <div *ngFor="let chatUser of currChat.users;" style="width: 100%"> 
            <a *ngIf="chatUser.status=='connected'" style="padding:0px;">
             <ng-container *ngIf="ps.getUser(chatUser.uid) as user">
              <span style="display: inline-block;padding: 12px 16px;" (click)="showChatsFrom=user.name;restateNewMsg(true)">{{user.name}}</span>
             </ng-container>
            </a>
           </div> 
         </div>
        </div> 
        <i class="fa fa-arrow-left shadow" (click)="back()" style="font-size: 40px; color: #f1f1f1; float: left; padding:5px;"></i>
        <img [src]="currChat.image?currChat.image:'assets/images/no-group.jpg'" style="border-radius: 100%;width: 50px;height: 50px;" />
        <div class="chat-about">    
          <div class="chat-with">{{currChat.name}}</div>
          <div class="chat-num-messages">{{currChat.users.length}} users</div>
        </div>
      </div> <!-- end chat-header -->
      <div #msgs class="chat-history" >
          <div class="lds-ellipsis" style="display: none; background: rebeccapurple;position: relative;left: 50%;transform: translate(-50%);"><div></div><div></div><div></div><div></div></div>
          <app-chat-message  *ngFor="let msg of currMsgs;index as i" [msg]="msg" [uid]="auth.user.uid" [isLast]="i==scrollIndex && isScrollatEnd"></app-chat-message>
      </div> <!-- end chat-history -->
      <div *ngIf="type!='message'" style="overflow: auto; position:absolute; top:75px; text-align: center; width: 100%;background: black;padding: 10px;height: 350px">
             <img *ngIf="type=='blob'" [src]="img" style="max-width:100%;height:auto;">
             <app-post-card *ngIf="type=='post' && data" [post]="data" [user]="getUser(data.user_id)" [comments$]="ps.getComments(data.id)"></app-post-card>
             <app-upload-card *ngIf="type=='upload' && data" [upload]="data" [user]="getUser(data.user_id)"></app-upload-card>             
             <div *ngIf="type=='group'&& currChat" style="position: relative;padding: 10px;background: brown;color: white;">
              <ng-container *ngIf="getChat(tempStr) as chat" >             
               <img [src]="chat.image?chat.image:'assets/images/no-group.jpg'" style="border-radius: 100%;width: 100px;height: 100px;" />
               <h3>{{chat.name}}</h3>
               <label class="custom-file-upload">
               Join Group
               </label>
              </ng-container>
             </div>      
             <span class="badge shadow-scale" style="top:0px" (click)="removeData()">X</span>
      </div>
      <div class="chat-message clearfix">
      <div style="position: relative;">
       <div class="new-msg-notif" [style.display]="showNewMsgsArrived && !userFilterWorked?'block':'none'" (click)="scrollTo(lastMsgID)">
         New Messages
       </div>
       <i class="fa fa-angle-double-down new-msg-scroller" [style.display]="showMsgScroller?'block':'none'" (click)="scrollTo(lastMsgID)"></i>            
      </div>        
        <textarea [(ngModel)]="msg" name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="4" (paste)="paste($event)"></textarea>
        <i *ngIf="!sending" class="fa fa-chevron-circle-right shadow" style=" width:10%;font-size: 48px; color: white; transform: translate(10%,-50%);" (click)='send()'></i>
        <i *ngIf="sending" style="color: white;display: inline;" (click)='send()'>{{percent}}</i>        
        <!--button (click)='clearMsgs()' *ngIf='!sending'>Clear</button-->
      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->

<!--
              <div class="status">
              <i class="fa fa-circle online">Dont Know</i>
            </div>
<ng-container *ngIf="ps.getUser(friend) as user" ></ng-container>


-->