.right {
	padding: 5px;
	background: brown;	
	position: relative;
}
.row {
	padding: 5px;
	margin:5px;
	background: orange;
	color:white;
}
.user-img {
	border-radius: 100%;
	width: 70px;
	height: 70px;
    object-fit: cover;
    float: left;		
}
