.overlay-fixed {
  top:70px;
}

.main-options {
    width: 100%;
}
.main-options> div{
  width:50%;
  float: left;
  background-color: #f2f2f2;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
}
