<div class="welcome">
  <h2>Dashboard</h2>
  <p>Click on one of the blocks below to view settings</p>
</div>
<a [routerLink]="[ './general']" class="block card">
  <span class="center-this">
      General 
  </span>
</a>
<a [routerLink]="[ './privacy']" class="block card">
  <span class="center-this">
    Privacy 
  </span>
</a>
<a [routerLink]="[ './more']" class="block card">
  <span class="center-this">
    More 
  </span>
</a>
<a [routerLink]="[ './container']" class="block card">
  <span class="center-this">
    Container 
  </span>
</a>