<!--
<div class='select-chat-view'>
    <div (click)="closeChatBox()"> Back </div>
    <div (click)="view='chats'" [style.border-bottom]="view=='groups'? '3px solid indianred' : '3px solid white'">chats</div>
    <div (click)="view='create'" [style.border-bottom]="view=='create'? '3px solid indianred' : '3px solid white'">create</div>
    <div (click)="view='discussions'" [style.border-bottom]="view=='discussions'? '3px solid indianred' : '3px solid white'">discussions</div>       
</div>

<div class='group-list user-list' id="chats" [style.display]="view=='groups'?'block':'none'">
    <div class='user' *ngFor="let chat of ps.chatsObject$ | async">
        <img class='image' [src]="chat.image?chat.image:'assets/images/no-group.jpg'" alt="">
        <div class='name'>{{chat.title}}</div>
    </div>  
</div>
-->