<div class="container">
 <div class="main">
 	   <div style="padding: 5px;">
 		 <span class="type">{{typeData?.id}} Template</span>		
 	   </div>
 	   <div *ngIf="!doing">
 		<div style="padding: 5px;">
 			<label for="title">Title: </label>
 			<input *ngIf="!doing" style="width: 70%" id="title" [(ngModel)]="title">
 		</div>
 		<div style="padding: 5px;">
 			<label for="acess">Make template:</label>
        	<input type="radio" [(ngModel)]='acess' name="acess" value="public" style="margin:14px; "checked>public
        	<input type="radio" [(ngModel)]='acess' name="acess" value="private" style="margin:14px; ">private
		</div> 		

 		<div style="padding: 5px;">
         <span *ngIf="create=='save'" style="padding: 5px;border: 1px solid" (click)="delete()">Delete</span>
 		 <span *ngIf="!doing" style="padding: 5px;border: 1px solid" (click)="do()">{{create}}</span>  			
 		</div>
 		<div *ngIf="generated" style="padding: 5px;margin: 10px 0px;">
 			<span>Template ID: {{typeID}}</span>
 		</div>
 	  </div>
 	  <div *ngIf="doing" style="padding: 10px;text-align: center;">
	  	<span>{{msg}}</span>
	  </div>

 </div>
 <div class="left">	
 	<div class="add-options">
 		<span class="button" *ngFor="let option of options;" (click)="createElem(option.split(':')[0])">{{option.split(':')[1]}}</span>   									
 	</div>
 	<div class="controls" id="left">
 	</div>
 </div>
 <div class="right" id="right">
 </div>
</div>
