
 <div id="header">
  <ul>
   <li><a [skipLocationChange]='true' [routerLink]="[{ outlets: { palet: ['login-palet'] } }]" (click)="paletCheck('login-palet')">{{signInLabel}}</a></li>
   <li *ngIf="auth.user" ><a [skipLocationChange]='true' [routerLink]="[{ outlets: { palet: ['post-palet'] } }]" (click)="paletCheck('post-palet')">Post</a></li>
   <li *ngIf="auth.user" ><a [skipLocationChange]='true' [routerLink]="[{ outlets: { palet: ['notif-palet'] } }]" (click)="paletCheck('notif-palet')" class="notification">Notif.<span *ngIf='notif.n!=0' class="badge">{{notif.n}}</span></a></li>
   <li *ngIf="auth.user" (click)="chatBox.style.display='block'"><a >Chat</a></li>
   <li style="float:left"><a [skipLocationChange]='true' [routerLink]="[{ outlets: { palet: ['dash-palet'] } }]" (click)="paletCheck('dash-palet')">&#9776;</a></li>
  </ul>
 </div>
   
 <div id="body" (click)="bodyClk($event)">
  <div #chatBox id="chatBox" style="display: none">
    <ng-template appChat></ng-template>
  </div> 
   <router-outlet name="palet"></router-outlet>
   <router-outlet></router-outlet>    
 </div>

    

