<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div style="border: 1px solid black; padding:5px;">

   <div *ngIf="!!user" style="border: 1px solid black">
      <h1>Hello {{ user.displayName ?  user.displayName : "Noname"}}!</h1>
      <button (click)="logout()">Logout</button>
   </div>
    <div *ngIf="status" style="border: 1px solid black">
      <h1>Logged in</h1>
   </div>

    <div style="border: 1px solid black;padding:5px;">
      {{msg}}
    </div>  

  </div> 

  <form #myform>
    <div>
      <label>Email:
        <input type="text" #email value="dynamonagestro@gmail.com">
      </label>
    </div>
    <div>
      <label>password:
        <input type="text" #pass value="nikhilnayyar">
      </label>
    </div>

    <button (click)="$event.preventDefault();login(email.value,pass.value)">Login</button>
    <button (click)="$event.preventDefault();signup(email.value,pass.value)">Signup</button>
    <button (click)="$event.preventDefault();logout()">Logout</button>
  </form>
  </div>  
<router-outlet></router-outlet>
