
<div class='dumpster'>

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img src="../../../assets/images/labrador-retriever.jpg">
          <div class="carousel-caption">
            <h3>sign-in to continue</h3>
            <p style='font-style: italic'>- nikhil nayyar</p>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../../../assets/images/happy-in-grass.jpg">
          <div class="carousel-caption">
            <h3>from nik pc</h3>
            <p  style='font-style: italic'>Hello!</p>
          </div>
        </ng-template>
    </ngb-carousel>

</div>


<a [routerLink]="[ '/posts']" class=" block card">
    <span class="center-this">
        Posts 
    </span>
</a>
<a [routerLink]="[ '/uploads']" class=" block card">
    <span class="center-this">
        Uploads
    </span>
</a>
<div class="notices card"></div>
