          <div [class.clearfix]='msg.uid==uid' [id]="getID(msg.id)">
            <div class="message-data" [class.align-right]='msg.uid==uid'>
              <span class="message-data-time" >{{(msg.date.toDate() | date:'medium') +' '}}</span>
              <span class="message-data-name" >{{msg.name}}</span>
            </div>
            <div class="message" [ngClass]="{'float-right':msg.uid==uid, 'other-message':msg.uid==uid , 'my-message':msg.uid!=uid}">
             <img *ngIf="msg.type=='blob'" [src]="msg.data" style="display: block;max-width: 100%;margin: auto;margin-bottom: 10px;">        
             <app-post-card *ngIf="msg.type=='post'" [post]="msg.data" [user]="getUser(msg.data.user_id)" [comments$]="ps.getComments(msg.data.id)"></app-post-card>
             <app-upload-card *ngIf="msg.type=='upload'" [upload]="msg.data" [user]="getUser(msg.data.user_id)"></app-upload-card>    
             <div *ngIf="msg.type=='group'" class="msg-group-container">            
               <img [src]="msg.data.image?msg.data.image:'assets/images/no-group.jpg'" style="border-radius: 100%;width: 100px;height: 100px;" />
               <h3>{{msg.data.name}}</h3>
               <label class="custom-file-upload" (click)="cserv.accept(msg.data)">
               Join Group
               </label>
             </div>        
              {{msg.msg}}
            </div>
          </div>
         
    