<div id="overlay" class="overlay">
  <div id="sidebar">
   <img  class="nik-special shadow" [src]="auth.user.image?auth.user.image:'assets/images/no-user.png'" style="width:200px;height:200px;" *ngIf="!!auth.user">
   <span style="text-align:center;display:block; margin:10px 0;color:green">
   {{auth.user?.name}}
   </span>
   <ul style="display: block;">
    <li><a [skipLocationChange]='true' routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a (click)="dash.style.display=dash.style.display=='block'?'none':'block'">Dashboard</a>
      <ul #dash style="margin:0; margin-left: 10px;display: none;">
         <li><a [skipLocationChange]='true' routerLink="/dashboard/general" routerLinkActive="active">general</a></li>
         <li><a [skipLocationChange]='true' routerLink="/dashboard/others" routerLinkActive="active">others</a></li>
         <li><a [skipLocationChange]='true' routerLink="/dashboard/privacy" routerLinkActive="active">privacy</a></li>
         <li><a [skipLocationChange]='true' routerLink="/dashboard/container" routerLinkActive="active">container</a></li>    
      </ul>
    </li>
    <li><a (click)="upl.style.display=upl.style.display=='block'?'none':'block'">Upload Section</a>
      <ul #upl style="margin:0; margin-left: 10px;display: none;">
         <li><a [skipLocationChange]='true' routerLink="/upload/upload-data" routerLinkActive="active">upload</a></li>
         <li><a [skipLocationChange]='true' routerLink="/upload/public-upload" routerLinkActive="active">uploads (public)</a></li>
      </ul>
    </li>
    <li><a (click)="inf.style.display=inf.style.display=='block'?'none':'block'">Information</a>
      <ul #inf style="margin:0; margin-left: 10px;display: none;">
         <li><a [skipLocationChange]='true' routerLink="/info/users" routerLinkActive="active">users</a></li>
         <li><a [skipLocationChange]='true' routerLink="/info/groups" routerLinkActive="active">groups</a></li>
      </ul>
    </li>
    <li><a [skipLocationChange]='true' routerLink="/template" routerLinkActive="active"> template</a>
    </li>

   </ul>
  </div>
 </div> 